
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat' sans-serif;
}

body
{
    width: 100%;
}
 */


.color-orange
{
    color: #ff6624;
}

.icons-size
{
    font-size: 30px;
}

.icons-color
{
    color:#005067;
}